<!DOCTYPE html>
<html lang="en">
    <head>
    <title>Make Event</title>
    <meta charset="UTF-8">
    </head>
    <body>
    <h1>Make a new Event</h1>
    <hr>

    We've just made an event for <%= event.name %> with a slug of <%= event.slug %>.

    <a href="/admin">Return to the admin page</a>

    </body>
</html>

